.verdict
{
    	color: white;
    	text-shadow:
    	-1px -1px 0 #000,
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
    	font-size: 100px;
    	font-family:verdana;
	font-weight:bold;
}
.hurt
{
    	color: white;
    	text-shadow:
    	-1px -1px 0 #000,
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
    	font-size: 25px;
    	font-family:verdana;
	font-weight:bold;
	display:inline-block
}
.background
{
	background-image:url(https://i.imgur.com/7o5AYDX.jpg);
	background-size:100%;
	background-color:black;
	background-repeat:no-repeat;
}
